<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ fetched.website.favicon_url }}" type="image/svg+xml">

    <link rel="apple-touch-icon" href="favicon-180x180.png">

    {% if fetched.website.google_font %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin>
        <link href="https://fonts.googleapis.com/css2?family={{ fetched.website.google_font}}&display=swap" rel="stylesheet">
    {% endif %}

    {% if page.url == "/" %}
        <title>{{ fetched.articles[0].page_title }}</title>
        <meta name="description" content="{{ fetched.articles[0].page_description }}">
    {% endif %}
    
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="author" content="{{ fetched.website.author }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ fetched.articles[0].page_title }}">
    <meta name="twitter:description" content="{{ fetched.articles[0].page_description }}">
    <meta name="twitter:image:src" content="{{ fetched.website.favicon_url }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ fetched.articles[0].page_title }}">
    <meta property="og:description" content="{{ fetched.articles[0].page_description }}">
    <meta property="og:image" content="{{ fetched.website.favicon_url }}">

    <meta name="theme-color" content="#ffffff">
    <meta name="view-transition" content="same-origin">

    <style>
        {{ fetched.website.css | safe }}
    </style>
    
</head>

<body> 
    {{ content | safe }}

    <script>
        {{ fetched.website.javascript | safe }}
    </script>

    <script src={{ "index.js" | addScript }}></script>
    
    <script type="module">
        import {onCLS, onFID, onLCP} from 'https://unpkg.com/web-vitals?module';
        onCLS(sendCWV);
        onFID(sendCWV);
        onLCP(sendCWV);
    </script>
</body>

</html>
