---
layout: base.njk
pagination:
    data: fetched.articles
    size: 1
    alias: page
permalink: /{{ page.path_name | slugify }}.html
---
    {% for p in pagination.items %}
        {{ p.text | safe }}

        <!-- Hidden input fields referenced in cwv beacon API fetch -->
        <input type="hidden" name="visit_url" value="{{ fetched.website.visit_url }}"/>
        <input type="hidden" name="website_id" value="{{ fetched.website.id }}"/>
        <input type="hidden" name="article_id" value="{{ p.article_id }}"/>
    {% endfor %}