html {
    margin: 0;
}

body {
    font-size: var(--font-size-lg);
    margin: 0;

    /* --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-xl: 1200px;
    --screen-xxl: 1400px; */
    --max-width: 1800px;

    --font-size-sm: clamp(0.83rem, 0.15vw + 0.79rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.5vw + 0.88rem, 1.19rem);
    --font-size-md: clamp(1.2rem, 1.02vw + 0.94rem, 1.58rem);
    --font-size-lg: clamp(1.44rem, 1.79vw + 0.99rem, 2.11rem);
    --font-size-xl: clamp(1.73rem, 2.89vw + 1rem, 2.81rem);
    --font-size-xxl: clamp(2.07rem, 4.47vw + 0.96rem, 3.75rem);
    --font-size-xxxl: clamp(2.49rem, 6.69vw + 0.82rem, 5rem);

    --theme-color: #ffffff;
    --theme-color-inverted: rgb(25, 25, 25);
    --theme-color-grey: rgb(245, 245, 245);
    --theme-color-hover: rgb(245, 245, 245);
    --theme-color-red: rgba(226, 27, 27, 0.855);

    font-family: "Geologica", monospace;
    color: var(--theme-color-inverted);
    line-height: 140%;
    background-color: var(--theme-color);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;

    background-color: pink;
}

button {
    cursor: pointer;
}

a:visited,
a:active,
a:link {
    color: inherit;
}

/* Wrapper */
body>div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    transition: opacity 1s ease-in-out;
}

@media only screen and (max-width: 1800px) {
    .fade {
        opacity: 0.3;
    }
}

p>a {
    font-size: var(--font-size-base);
    font-weight: 100;
    text-decoration: underline;
}

h1,
h2,
p,
ul {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 38rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: var(--font-size-lg);
    font-weight: 400;
}

section>span {
    display: block;
    width: 38rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font-size-base);
    font-weight: 100;
    text-align: justify;
}

p {
    font-size: var(--font-size-base);
    font-weight: 100;
    text-align: justify;
}

h2 {
    font-size: var(--font-size-md);
    font-weight: 400;
}

ul {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0;
}

li {
    font-size: var(--font-size-base);
    font-weight: 100;
    text-align: justify;
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
}

header>a {
    width: 4rem;
    text-decoration: none;
}

header>img,
header>a>img {
    width: 20rem;
    max-width: 85%;
    height: 20rem;
    max-height: 100%;
}

.openImage {
    border-radius: 0.5rem;
}

.keepOpenImage {
    border-radius: 0.5rem;
}

header> img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    object-fit: contain;
    width: 20rem;
    max-width: 50%;
    aspect-ratio: 1 / 1;
    transition: 0.5s;
    border-radius: 50%;
}

.closedImage {
    cursor: pointer;
    object-fit: cover;
}

main>section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>section img {
    object-fit: contain;
    width: 10rem;
    max-width: 85%;
    border-radius: 1rem;
}

@media only screen and (min-width: 768px) {
    main>section {
        width: min-content;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid var(--theme-color-red);
        padding: 1rem;
        border-radius: 2rem;
        box-sizing: border-box;
        max-width: 100%;
    }
}

main> .noBorder {
    border:none;
}

main>section>ul:nth-child(2) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    max-width: 85%;
    margin-top: 4rem;
    cursor: default;
}

main>section>ul:nth-child(2) li {
    list-style-type: none;
    padding-left: 1ch;
    padding-right: 1ch;
    border-radius: 2rem;
    font-weight: 100;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--theme-color-red);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    max-width: 100%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.form-submitted {
    display: none;
}

form span {
    font-size: 0.8rem;
    font-weight: 100;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.form-notification {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s 0.5s ease-in-out, transform 1s ease-in-out;
}

form button {
    background-color: transparent;
    border: 1px solid var(--theme-color-inverted);
    color: var(--theme-color-inverted);
    font-family: "Geologica", monospace;
    font-weight: 400;
    width: fit-content;
    padding: 0.8em;
    font-size: var(--font-size-sm);
    border-radius: 10rem;
    align-self: center;
}

button.submitting {
    opacity: 0.3;
    cursor: default;
}

label {
    font-size: var(--font-size-sm);
    font-weight: 400;
    width: min-content;
    align-self: flex-start;
    cursor: pointer;
    margin-left: 3rem;
}

input,
textarea {
    background-color: var(--theme-color-grey);
    padding: 1ch;
    border-radius: 0.5rem;
    font-size: var(--font-size-sm);
    font-weight: 100;
    font-family: ui-monospace,
        Menlo, Monaco,
        "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Monospace",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Courier New", monospace;
    width: calc(52ch + 2px);
    max-width: 90%;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid transparent;
    align-self: center;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--theme-color-inverted);
    border-radius: 0.5rem;
}

textarea {
    min-height: calc(1.4em * 8);
    resize: vertical;
    overflow-y: scroll;
}

.image-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
    max-width: min(61rem, 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    box-sizing: border-box;
}

.image-nav a {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-decoration: none;
    max-width: min(20rem, calc(48% - 0.6rem));
    aspect-ratio: 1 / 1;
}

@media (hover: hover) {
    .image-nav span {
        opacity: 0;
        transition: 0.3s;
    }

    .image-nav a:hover span {
        opacity: 1;
    }
}

.image-nav img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 0.4rem;
}

.image-nav img,
.image-nav span {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}

.image-nav span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
    font-size: var(--font-size-base);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
}

@media only screen and (max-width: 576px) and (hover: none) and (pointer: coarse) {
    .image-nav {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 0;
    }

    .image-nav a {
        scroll-snap-align: start;
        min-width: calc(100% - 2rem);
        width: calc(100% - 2rem);
        box-sizing: border-box;
        padding-left: 1rem;
    }

    .image-nav a:nth-last-of-type(1) {
        padding-right: 1rem;
    }

    .image-nav span {
        font-size: var(--font-size-md);
    }
}

footer {
    min-height: 20rem;
    display: grid;
    grid-template-columns: min(100%, var(--max-width));
    grid-template-rows: 20rem;
    min-width: min(100%, var(--max-width));
    margin-left: auto;
    margin-right: auto;
    padding-top: 8rem;
}

footer>a:nth-of-type(1) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-self: end;
    justify-self: start;
    margin-left: 1.7rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 576px) {
    footer>a:nth-of-type(1) {
        justify-self: center;
    }
}

footer>a:nth-of-type(1) img {
    width: 10rem;
    object-fit: contain;
}

footer>div:nth-of-type(1) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-self: start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer>div:nth-of-type(1) a {
    font-weight: 100;
    font-size: var(--font-size-sm);
    text-decoration: none;
    transition: color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>div:nth-of-type(1) img {
    width: 2.5rem;
    height: 2.5rem;
}

footer>div:nth-of-type(1) a:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>div:nth-of-type(2),
footer>a:nth-of-type(2) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 0.6rem;
    padding: 0.5rem;
    height: 1rem;
    margin-bottom: 0.1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

footer>div:nth-of-type(2) {
    align-self: end;
    justify-self: start;
    cursor: default;
}

footer>a {
    align-self: end;
    justify-self: end;
    text-decoration: none;
}

footer>a span {
    font-family: "Geologica", monospace;
}

footer>a div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>a svg {
    width: 3rem;
    height: 100%;
}

/* Navigation */
nav {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: fixed;
    width: fit-content;
    max-width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1.2rem;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(.55, .084, 0, .99), opacity 1s cubic-bezier(.55, .084, 0, .99);
    color: var(--theme-color-inverted);
    border-right: 1px solid rgb(210, 210, 210);
    background-color: var(--theme-color);
}

nav a {
    text-decoration: none;
    font-size: var(--font-size-base);
    padding-left: 2ch;
    padding-right: 2ch;
    margin-left: 2ch;
    margin-right: 2ch;
    min-height: 2em;
    border-radius: 0.5rem;
    line-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: content-box;
    font-weight: 100;
}

@media (hover: hover) {
    nav a:hover.hoverScale {
        transform: scale(1.1);
        transition: transform 0.3s;
        background-color: transparent;
    }

    nav a:hover {
        background-color: var(--theme-color-hover);
    }
}

nav a img {
    width: 100%;
    height: 2.5rem;
}

nav a path:nth-of-type(1) {
    stroke: var(--theme-color-inverted);
}

nav a path:nth-of-type(2) {
    fill: var(--theme-color-inverted);
}

@media only screen and (min-width: 1800px) {
    nav {
        opacity: 1;
        left: calc(((100% - var(--max-width))/2) + 1rem);
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: fit-content;
        top: 50%;
        border: 1px solid var(--theme-color-grey);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 2rem;
        transform: translateX(0) translateY(-50%);
    }
}

nav.navOpen {
    transform: translateX(0);
    opacity: 1;
}

/* Nav Button */
body>button {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border: none;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media only screen and (min-width: 1800px) {
    body>button {
        display: none
    }
}

body>button path {
    transition: opacity 0.5s ease-in-out, fill 0.5s ease-in-out;
    fill: var(--theme-color-inverted);
}

button.closeButton path:nth-of-type(even) {
    opacity: 0;
}

body>button svg {
    width: 1.5rem;
    height: 1.5rem;
}