---
layout: base.njk
pagination:
    data: fetched.articles
    size: 1
    alias: page
permalink: /{{ page.path_name | slugify }}.html
---
    {% for p in pagination.items %}
        
            <header>
                <img src="{{ p.assets[0].url }}" alt="{{ p.assets[0].alt_text }}" width="{{ p.assets[0].width }}" height="{{ p.assets[0].height }}">
            </header>

            {% if p.path_name == "contact" %}
                <section class="noBorder">
                    {{ p.text | safe }}
                    {% if fetched.website.contact_email %}
                        <span>Or send me an <a href="mailTo:{{ fetched.website.contact_email }}">email</a>.</span>
                    {% endif %}
                </section>
                <form>
                    <label for="nameInput">Name</label>
                    <input type="text" id="nameInput" name="name" required="" minlength="1" maxlength="50" />
                    <label for="emailInput">Email</label>
                    <input type="email" id="emailInput" name="email" required="" maxlength="50" />
                    <label for="messageInput">Message</label>
                    <textarea id="messageInput" name="message" required="" minlength="1" maxlength="400"></textarea>
                    <span>No Notification</span>
                    <input type="hidden" name="contactEmail" value="{{ fetched.website.contact_email }}"/>
                    <input type="hidden" name="signatureContactEmail" value="{{ fetched.website.signatureContactEmail }}"/>
                    <button data-url="{{ fetched.website.aws_gateway_url }}" type="submit">Send</button>
                </form>
                <dialog>
                    <div>
                        <button type="button" class="close">&times;</button>
                        <h2>Thank you,</h2>
                        <p>If there's anything you can always contact me on email.</p>
                    </div>
                </dialog>
            {% elif p.display_order == 1 %}
                <section class="noBorder">
                    {{ p.text | safe }}
                </section>
                <nav class="image">
                    <ul>
                    {%- for pageNav in fetched.articles -%}
                        {% if pageNav.display_order != 1 %}
                        <li>
                            <a href="/{{pageNav.path_name}}.html">
                                <picture>
                                    <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 600px)">
                                    <img src="{{pageNav.assets[0].url}}" alt="{{pageNav.assets[0].alt_text}}" width="{{ pageNav.assets[0].width }}" height="{{ pageNav.assets[0].height }}"/>
                                </picture>
                                <span>{{ pageNav.nav_name }}</span>
                            </a>
                        </li>
                        {% endif %}
                    {%- endfor -%}
                    </ul>
                </nav>
            {% else %}
                <section class="redBorder">
                    {{ p.text | safe }}
                </section>
            {% endif %}
        
        <!-- Hidden input fields referenced in cwv beacon API fetch -->
        <input type="hidden" name="visit_url" value="{{ fetched.website.visit_url }}"/>
        <input type="hidden" name="website_id" value="{{ fetched.website.id }}"/>
        <input type="hidden" name="article_id" value="{{ p.article_id }}"/>
    {% endfor %}
